<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <title>Nymblr</title>
    <meta name="viewport" content="width=device-width" />

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Stylesheets -->
    <style>

        html {
            margin: 0;
            height: 100%;
        }

        body {
            background: linear-gradient(slateblue, darkorchid);
            font-family: 'IBM Plex Sans', sans-serif;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-flow: column;
        }

        textarea {
            resize: none;
        }

        .io-box {
            display: flex;
            flex-direction: row;
            padding: 15px;
            height: 100%;
        }

    </style>

    <!-- Scripting -->
    <script>

        $(document).ready(function () {

            $("#input-text").on('input', function (e) {
                $("#html-display").empty();

                var style = "font-family: Courier New, Courier, monospace;" // Part of FLAGS bit
                var texts = $("#input-text").val().split(/\r?\n/);
                var lines = [];
                var skipp = false;
                var html = "";

                texts.forEach(function (entry) {

                    // * * * // This will be a part of the FLAGS bit

                    // If new line
                    if (entry.length == 0) {
                        skipp = false;
                    } else {
                        // If INT
                        if (entry.substring(0, 4).toUpperCase() == "INT.") {
                            lines.push(
                                "<p style='font-weight: bold;" +
                                style + "'>" + entry.toUpperCase() + "</p>\n");
                        }

                        else if (entry == entry.toUpperCase()) {
                            lines.push(
                                "<p style='text-align: center; font-weight: bold;" +
                                style + "'>" + entry.toUpperCase() + "</p>\n");
                            skipp = true;
                        }

                        // Default
                        else if (entry.length > 0) {
                            if (skipp == true) {
                                lines.push("<p style='" +
                                    style + " padding-left: 2cm; padding-right: 2cm;'> " + entry + "</p>\n");
                            } else {
                                lines.push("<p style='" +
                                    style + " padding-left: 0cm; padding-right: 0cm;'> " + entry + "</p>\n");
                            }
                        }
                    }

                    // * * * //

                });

                lines.forEach(function (entry) {
                    html += entry;
                });

                document.getElementById("html-display").innerHTML = html;
            });
        });

    </script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">

        <form class="form-inline">

            <!-- Font choice -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Editor Font
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </form>

        <!-- -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <!-- Display box -->
    <div class="io-box">
        <div style="flex: 1; background-color: white;">
            <textarea id="input-text" rows="8" cols="40" aria-label="Nymblr" style="width: 100%; height: 100%;"></textarea>
        </div>
        <div style="width:15px"></div>
        <div style="flex: 2; background-color: white">
            <div id="html-display"></div>
        </div>
    </div>

</body>
</html>

<!-- terebi kara kon'nichiha! -->